@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



:root {
    --primary-red: hsl(0, 100%, 74%);
    --primary-green: hsl(154, 59%, 51%);
    --accent-blue: hsl(248, 32%, 49%);
    --neutral-dark-blue: hsl(249, 10%, 26%);
    --neutral-grayish-blue: hsl(246, 25%, 77%);
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.bold {
    font-weight: 700;
}

body {
    font-family: 'Poppins', sans-serif;
    background: no-repeat url('../images/bg-intro-desktop.png'), var(--primary-red);
    height: 100vh;
}

@media screen and (max-width: 765px) {
    body {
        background: no-repeat center url('../images/bg-intro-desktop.png'), var(--primary-red);
    }

    .container {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .content-area {
        text-align: center !important;
        margin: 0 auto;
    }

}

main {
    margin: 0 auto;
    margin-top: 10rem;
    max-width: 1000px;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    place-items: center;
    place-content: center;
    width: 80%;
}

.flex {
    display: flex;
    flex-direction: column;
}

.content-area {
    color: #fff;
    width: 100%;
    grid-column: 1 / 1;
    grid-row: 1/3;
    text-align: left;
    margin-right: 4rem;
}

.content-area h1 {
    font-size: 4rem;
    line-height: 1.4;
    margin-bottom: 3rem;
}

.content-area p {
    font-size: 1.6rem;
    font-weight: 500;
    opacity: 0.8;
    white-space: wrap;
    margin-bottom: 6rem;
}

.card-offer {
    grid-column: 2/2;
    font-size: 1.4rem;
    background: var(--accent-blue);
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 100%;
    max-width: 440px;
    padding: 2rem 6rem;
    box-shadow: 0 6px 0 hsla(249, 10%, 26%, 0.2);
}

.form-area {
    grid-column: 2/2;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fff;
    padding: 2rem 2rem;
    border: none;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 6px 0 hsla(249, 10%, 26%, 0.2);
}

.form-area form {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.form-area form input {
    width: 100%;
    font-family: Poppins, sans-serif;
    padding: 1.5rem 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
    border: 1px solid;
    border-color: hsla(249, 10%, 26%, 0.25);
    border-radius: 4px;
}

.form-field {
    max-width: 375px;
}

.form-field input:focus {
    outline: none;
}

.form-field input:focus::placeholder {
    opacity: 0;
}

.form-field.error input {
    border: 2px solid var(--primary-red);
}

.input-error-icon {
    background: url('../images/icon-error.svg') no-repeat;
    background-position: 95% 50%;
}

.form-field.success input {
    border: 2px solid var(--primary-green);
}

.form-field small {
    color: var(--primary-red);
}

#btn {
    color: #fff;
    background-color: var(--primary-green);
    border: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

#btn:hover {
    opacity: 0.7;
}

.form-area p {
    color: var(--neutral-grayish-blue);
    font-weight: 600;
    padding: 0 2.5rem;
}

.red {
    color: var(--primary-red);
}

footer {
    margin-top: 5rem;
}
